
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title text-center mb-4">Change Password</h5>
          <form (ngSubmit)="onSubmit()">

            <div class="mb-3">
              <label for="currentPassword" class="form-label">Current Password</label>
              <input type="password" class="form-control" id="currentPassword" placeholder="Enter current password" [(ngModel)]="logindata.currentPassword" name="currentPassword" autocomplete="new-password">
            </div>
            <div class="mb-3">
              <label for="newPassword" class="form-label">New Password</label>
              <input type="password" class="form-control" id="newPassword" placeholder="Enter new password" [(ngModel)]="logindata.newPassword" name="newPassword" autocomplete="new-password">
          
          
            </div>
            <div class="mb-3">
              <label for="confirmPassword" class="form-label">Confirm New Password</label>
              <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm new password" [(ngModel)]="logindata.confirmPassword" name="confirmPassword" autocomplete="new-password">
            </div>
            <div class="d-grid">
              <button type="submit" class="btn btn-primary btn-block">Change Password</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
