
    .card {
        border: none;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .card-title {
        color: #333;
        font-size: 24px;
        font-weight: bold;
    }

    .form-label {
        font-weight: bold;
    }

    .form-control {
        border: 1px solid #ced4da;
        border-radius: 5px;
    }

    .form-control:focus {
        border-color: #80bdff;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    .btn-primary {
        background-color: #4267B2;
        border-color: #4267B2;
    }

    .btn-primary:hover {
        background-color: #365899;
        border-color: #365899;
    }

    .btn-primary:focus {
        box-shadow: 0 0 0 0.2rem rgba(66, 103, 178, 0.5);
    }
