
<!-- <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5><a routerLink="/matches">Matches</a></h5>
        </div>
        <div class="col-md-4">
          <h5><a routerLink="/activity">Activity</a></h5>
        </div>
        <div class="col-md-4">
          <h5><a routerLink="/messages">Messages</a></h5>
        </div>
      </div>
    </div>
  </footer>
   -->

   <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">© 2023 Matrimony Service. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>