
<!-- <app-dashboardheader></app-dashboardheader> -->

<nav class="navbar navbar-expand-lg ">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLink="/edit-profile" routerLinkActive="active" (click)="navigateToeditProfilePage">
            <i class="fas fa-user"></i> Edit Profile
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/search" routerLinkActive="active">
            <i class="fas fa-search"></i> Search
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sort-by" routerLinkActive="active">
            <i class="fas fa-sort"></i> Sort By
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/filters" routerLinkActive="active">
            <i class="fas fa-filter"></i> Filter
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Phonebook" routerLinkActive="active">
            <i class="fas fa-phone"></i> Phonebook 
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/subscription" routerLinkActive="active">
            <i class="fas fa-dollar-sign"></i> Subscription
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/settings" routerLinkActive="active">
            <i class="fas fa-cog"></i> Settings
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/help" routerLinkActive="active">
            <i class="fas fa-question-circle"></i> Help
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Feedback" routerLinkActive="active">
            <i class="fas fa-comment"></i> Feedback
          </a>
        </li>
        <li class="nav-item">
  <a class="nav-link" routerLink="/verifyid" routerLinkActive="active">
    <i class="fas fa-comment"></i> Verification By ID
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" routerLink="/report" routerLinkActive="active">
    <i class="fas fa-comment"></i>  Report
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" routerLink="/partnerpreference" routerLinkActive="active">
    <i class="fas fa-user"></i>  Partner Preference
  </a>
</li>
      </ul>
    </div>
  </div>
</nav>




<!-- profile-page.component.html -->

<div class="container mt-5">

  <div class="card">

    <div class="card-body">

      <h2 class="card-title">User Profile</h2>

      <div *ngIf="userData">
        <p class="card-text"><strong></strong></p>

        <img [src]="userData.profilePhoto" alt="User Photo" width="400" height="400">
        <p class="card-text"><strong>ID:</strong> {{ userData.userId }}</p>
       <p class="card-text"><strong>Name:</strong> {{ userData.name }}</p>
        <p class="card-text"><strong>Age:</strong> {{ userData.age }}</p>
        <p class="card-text"><strong>Height</strong> {{ userData.heightMin }}</p>
        <p class="card-text"><strong>Manglik Status</strong> {{ userData.manglikStatus }}</p>
        <p class="card-text"><strong>Education</strong> {{ userData.education }}</p>       
         <p class="card-text"><strong>Occupation</strong> {{ userData.occupation }}</p>
          <p class="card-text"><strong>Religion:</strong> {{ userData.religion }}</p>
        <p class="card-text"><strong>Income:</strong> {{ userData.incomeRange }}</p>
        <p class="card-text"><strong>Mother Tongue</strong> {{ userData.motherTongue }}</p>

        <p class="card-text"><strong>City:</strong> {{ userData.city }}</p>
        <p class="card-text"><strong>State:</strong> {{ userData.state }}</p>





        <!-- Add more properties as needed -->

      
<!-- 
        <button type="button" (click)="deleteUser()">Delete</button>

        <p>{{ deletionMessage }}</p> 
 -->

      </div>

      <div *ngIf="!userData" class="text-center">

        <!-- <p class="card-text">Loading user data...</p> -->

      </div>

    </div>

  </div>

</div>

<app-dashboardfooter></app-dashboardfooter>