<div class="forgot-password-form">

  <h2>Forgot Password</h2>
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="mobile">Mobile Number:</label>
      <input type="tel" id="mobile" required [(ngModel)]="logindata.phoneNumber" name="mobile">
    </div>
    <button type="submit" *ngIf="!showOtpInput">Verify</button>

    <div *ngIf="showOtpInput">
      <label for="otp">Enter OTP:</label>
      <input type="text" id="otp" required [(ngModel)]="otp.otp" name="otp">
      <button type="button" (click)="resendOtp()">Resend OTP</button>&nbsp;
      
    <button type="submit" *ngIf="!showPasswordInput">Submit</button>

    </div>
    
    <div *ngIf="showPasswordInput">
      <label for="newPassword">New Password:</label>
      <input type="password" id="newPassword" required [(ngModel)]="logindata.password" name="newPassword">
    </div>
    <div *ngIf="showPasswordInput">
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" id="confirmPassword" required [(ngModel)]="logindata.confirmPassword" name="confirmPassword">
    </div>
    <div *ngIf="showOtpInput">
    </div>
    <div>
      <button type="submit" *ngIf="showPasswordInput"> Submit</button>
    </div>
  </form>
</div>
