<div class="container mt-5">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title text-center">Forgot Password</h3>
        <form (ngSubmit)="submitForm()">
          <div class="mb-3">
            <label for="usernameOrEmail" class="form-label">Username or Email</label>
            <input type="text" class="form-control" id="usernameOrEmail" placeholder="Enter your username or email"
                   [(ngModel)]="logindata.usernameOrEmail" name="usernameOrEmail">
          </div>
          <div class="mb-3">
            <label for="newPassword" class="form-label">New Password</label>
            <div class="input-group">
              <input #newPasswordInput type="password" class="form-control" id="Password" placeholder="Enter new password"
                     [(ngModel)]="logindata.password" name="newPassword">
              <button class="btn btn-outline-secondary" type="button" (click)="togglePassword('new')">
                <i class="bi bi-eye"></i>
              </button>
            </div>
          </div>
          <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <div class="input-group">
              <input #confirmPasswordInput type="password" class="form-control" id="confirmPassword" placeholder="Confirm new password"
                     [(ngModel)]="logindata.confirmPassword" name="confirmPassword">
              <button class="btn btn-outline-secondary" type="button" (click)="togglePassword('confirm')">
                <i class="bi bi-eye"></i>
              </button>
            </div>
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="rememberMe" [(ngModel)]="logindata.rememberMe" name="rememberMe">
            <label class="form-check-label" for="rememberMe">Remember me</label>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
      </div>
    </div>
  </div>
  