<!-- <div class="container mt-5">
  <h3 class="card-title text-center">Enter OTP</h3>
  <p class="text-center">A one-time password has been sent to your email/mobile.</p>
  <form (ngSubmit)="onOtpSubmit()">
    <!-- Input field for OTP -->
    <!-- <div class="mb-3">
      <label for="otp" class="form-label">OTP</label>
      <input type="text" class="form-control" id="otp" placeholder="Enter OTP" [(ngModel)]="user.otp" name="otp">
    </div>
    <button type="submit" class="btn btn-primary btn-block">Submit</button> -->
    <!-- <a routerLink="/createProfile" class="btn btn-primary btn-block">Sign Up</a> -->

  <!-- </form>
</div> --> -->
