
<section class="home">
    <img src="/assets/wedding-couple.jpg" alt="Wedding Couple">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <div class="homecontent">
                    <h1 class="text-white">Find Your Forever,<br> <br> Together</h1>
                    <br>
                    <a routerLink="/login" class="btn btn-lg btn-primary">Login</a>&nbsp;
                  
                  
                    <a routerLink="/signup" class="btn btn-lg btn-primary">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
  </section>