
/* Style for the home section */
.home {
    background-image: url('/assets/wedding-couple.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh; /* Adjust height as needed */
    position: relative;
    overflow: hidden;
    /* filter: blur(1px); Adjust the blur radius as needed */
}

/* Styles for the home content */
.homecontent {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.homecontent h1 {
    color: white;
    font-size: 40px;
    margin-top: 45%;
}

/* Styles for the button container */ */
.btn-container {
    margin-top: 50px;
    text-align: center;/* Add spacing between buttons and text */
}
/* Styles for buttons on small screens */
@media (max-width: 768px) {
    .homecontent h1 {
        font-size: 28px; /* Reduce font size for smaller screens */
        margin-top: 40px; /* Adjust the margin for smaller screens */
    }

    .btn-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Add spacing between buttons on small screens */
    .btn-container .btn {
        margin: 15px 0 ;
    }
}
